:root {
  --color-warn: #d86772;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  margin-top: 2rem;
  float: right;
}

footer {
  min-height: 5em;
  text-align: center;
}

form {
  overflow: hidden;
}

input {
  margin-bottom: 1rem;
}

main, .epi-title {
  max-width: 40rem;
}

input:invalid {
  border: 2px solid var(--color-warn);
}

.epi-title {
  margin: 1em auto 0.5em auto;
}


.success {
  text-align: center;
}

.failure {
  color: var(--color-warn);
}
